<h2><%= @league.name %></h2>
	<p><%= @league.number_of_teams %></p>
	<p><%= @league.format %></p>
	<p><strong>Owner: </strong><%= @league.user.name %></p>
<% if @league.draft.nil? %>
  <%= button_to "Create Draft", create_draft_path(@league.id) %>
    <% else %>
    <%= link_to "View Draft", draft_path(@league.id), class: "btn btn-danger" %>
<% end %>

<h4>Team</h4>
	<% @league.teams.each do |team| %>

		<p>Team Name: <%= team.name %></p>
		<p>Owner: <%= team.user.name%></p>
		<% team.players.each do |player| %>
		<p>Player Name: <%= player.name %></p>
		<p>Position: <%= player.position %></p>
		<p>NFL Team: <%= player.nfl_team %></p>
		<p>
		</p>
		<% end %>
	<% end %>
