<div class="container-fluid">
  <%= link_to "Back to League", @draft.league, class: "btn"%>
    <div class="row">
      <h1 class="col-sm-6">Draft for <%= @draft.league.name %></h1>
    </div>
  
  <h3>Last 10 Picks:</h3>
  <div class="row picks">
    <% @draft.history.last(10).each_with_index do |history, index| %>
      <div class="col m3 l2 xl1">
        <div class="card small">
          <div class="card-content">
          <span class = "card-action"><strong><%= "Pick #{@draft.next_pick_index - @draft.history.last(10).length + index+1}" %></strong>
            <p><%= Team.find_by_id(@draft.order[@draft.next_pick_index - 10 + index]).name %></p></span>
            <div class="card-title">
            <p><%=Player.find_by_id(history).name %></p>
            <p><%=Player.find_by_id(history).position %></p>
            <br>
              <%= image_tag "#{Player.find_by_id(history).nfl_team}.png", width: '64' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h3>Next 10 picks:</h3>
  <div class="row next-picks">
    <% @draft.order[@draft.next_pick_index..@draft.next_pick_index+9].each_with_index do |team_id, index| %>
      <div class="col m3 l2 xl1 <%='team_'+ team_id.to_s%>">
      <% if Team.find_by_id(team_id).user == current_user %>
        <div class = "card yellow">
      <% else %>
        <div class = "card">
      <% end %>
      <div class = "card-content">
      <p><strong><%= "Pick #{@draft.next_pick_index + index+1}" %></strong></p><p> <%= @team_order.find_by_id(team_id).name %></p></div>
      </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
<div class= "col m6">
<h3 id="next-pick">Next pick: <%= @team.name %></h3>
  <%= form_for @player_team, url: create_player_team_path(@draft.league.id), remote: true, authenticity_token: true do |f| %>
    <% if @team.user == current_user %>
      <%= f.submit "Draft Player", class: "btn btn-large draft-player" %>
    <% else %>
      <%= f.submit "Draft Player", class: "btn btn-large draft-player disabled" %>
    <% end %>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Team</th>
            <th>Pass Yards</th>
            <th>Pass TD</th>
            <th>INT</th>
            <th>Rush Att</th>
            <th>Rush Yards</th>
            <th>Rush TD</th>
            <th>Receptions</th>
            <th>Rec Yards</th>
            <th>Rec TD</th>
            <th>Fumbles</th>
          </tr>
        </thead>
        <% @players.each do |player| %>
            <tbody>
              <tr>
                <td><%= f.radio_button "player_id", player.id %> <%=f.label "player_id", player.name, :value => player.id %></td>
                <td><%= player.position %></td>
                <% if player.nfl_team != "" %>
                    <td><%= player.nfl_team %><%= image_tag "#{player.nfl_team}.png", width: '32' %></td>
                <% end %>
                  <td><%=player.player_stat[0].pass_yards%></td>
                  <td><%=player.player_stat[0].pass_td%></td>
                  <td><%=player.player_stat[0].pass_int%></td>
                  <td><%=player.player_stat[0].rush_attempts%></td>
                  <td><%=player.player_stat[0].rush_yards%></td>
                  <td><%=player.player_stat[0].rush_td%></td>
                  <td><%=player.player_stat[0].receptions%></td>
                  <td><%=player.player_stat[0].receive_yards%></td>
                  <td><%=player.player_stat[0].receive_td%></td>
                  <td><%=player.player_stat[0].fumbles_lost%></td>
              </tr>
            </tbody>
        <% end %>
      </table>
  <% end %>
  </div>
  <div class="col m6">
  <div class = "comments">
      <% @draft.comments.last(10).each do |comment| %>
        <p><strong><%=comment.user.name%>: </strong><%=comment.content%></p>
      <% end %>
    </div>
    <%= form_for @comment, url: create_comment_path(@draft.league.id), remote: true, authenticity_token: true do |f| %>
      <%= f.label :your_comment %>:
      <%= f.text_area :content, class: "form-control", data: {textarea: "comment"} %>
      <%= f.submit "send", class: "btn", data: {send: "comment"} %>
    <% end %>
    </div>
</div>
</div>