<h1>Draft for: <%= @draft.league.name %></h1>
<h2>Next pick: <%= @team.name %></h2>

<%= form_for @player_team, url: create_player_team_path(@draft.league.id) do |f| %>
 <%= f.number_field :player_id %>
 <br />
 <%= f.submit %>
<% end %>
